*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 700px;
    width: 700px;
    background: blue;
}

@media screen and (max-width: 600px) and (orientation: landscape){
    div{
        background: red;
        height: 200px;
        width: 200px;
    }
}